.logoutTitle {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-top: 25px;
}

.logoutUser {
  text-align: center;
  font-size: 30px;
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: padding-box;
  background-color: rgb(172, 31, 31);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: auto;
  text-decoration: none;
  transition: all 250ms;
  width: 125px;
  height: 33px;
  margin-top: 5px;
}

.logoutButton:hover,
.logoutButton:focus {
  background-color: rgb(253, 106, 106);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logoutButton:hover {
  transform: translateY(-1px);
}

.logoutButton:active {
  background-color: rgb(172, 31, 31);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.returnHome,
.returnPosts {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #203b47;
  margin-top: 5px;
  margin-bottom: 5px;
}

.returnHome:hover,
.returnPosts:hover {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: rgb(172, 31, 31);
}
