.postDiv {
    background-color: grey;
    padding-bottom: 1px;
}

.searchPosts {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#postTitle {
    text-align: center;
    text-decoration: none;
}

#searchPostInput{
    width: 300px;
    height: 27px;
    padding-left: 10px;
    padding-right: 10px;
}

#navLink {
    font-size: 20px;
    border: 2px solid black;
    padding: 7px;
}

#addPostsLink:visited{
    color: rgb(172, 31, 31);
}

#addPostsLink{
    text-decoration: none;
}