.userName {
    text-decoration: underline;
}

.messagesToMe, .messagesFromMe {
    background-color: grey;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 1px;
}

.toMessages, .fromMessages {
    background-color: darkgrey;
    border: 22px solid  grey;
    margin: 30px 20px 30px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    text-align: left;
}

.username {
    text-align: center;
    font-size: 45px;
    background-color: white;
    padding-bottom: 35px;
    padding-top: 10px;
}

.messages{
    padding-left: 20px;
}

#messagesFM {
    padding-top: 30px;
}

.navlink{
    color: rgb(172, 31, 31);
}