#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-style: sans-serif;
  background-color: aquamarine;
  padding-left: 50px;
  padding-right: 50px;
}


  